/** Base Styles for AGD **/
/* COLORS */
/* GRAPHIC ELEMENTS */
/* Icons */
@media only screen and (max-width: 720px) {
  /* line 13, ../sass/mobile.scss */
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 17, ../sass/mobile.scss */
  .container {
    padding: 0;
  }

  /* line 21, ../sass/mobile.scss */
  .featured-content {
    padding: 0;
  }

  /* line 25, ../sass/mobile.scss */
  .featured-content .dynamite-slider,
  .featured-content .dynamite-slider .slide,
  .featured-content .dynamite-slider #dFolio {
    height: auto;
  }

  /* line 30, ../sass/mobile.scss */
  .featured-content .dynamite-slider .paging {
    display: none;
  }

  /* line 34, ../sass/mobile.scss */
  .featured-content .dynamite-slider .dCard .front {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
  /* line 39, ../sass/mobile.scss */
  .featured-content .dynamite-slider .dCard .back {
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
  }
  /* line 46, ../sass/mobile.scss */
  .featured-content .dynamite-slider .dCard:hover .front {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
  /* line 51, ../sass/mobile.scss */
  .featured-content .dynamite-slider .dCard:hover .back {
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
  }

  /* line 59, ../sass/mobile.scss */
  .main-content {
    padding: 1.5rem;
    background: white;
  }

  /* line 64, ../sass/mobile.scss */
  .main-content .column {
    width: 100%;
    padding-left: 0;
    padding: 1rem 0;
  }

  /* line 70, ../sass/mobile.scss */
  .main-content .news.section .post {
    width: 100%;
    padding: 2%;
    margin-bottom: 15px;
  }

  /* line 76, ../sass/mobile.scss */
  body {
    width: 100%;
    min-width: 0;
  }

  /* line 82, ../sass/mobile.scss */
  header .mobile-logo {
    margin-left: 20px;
  }
  /* line 85, ../sass/mobile.scss */
  header .menu-main-nav-container {
    display: none;
  }

  /* line 90, ../sass/mobile.scss */
  .top-menu {
    text-align: center;
    padding: 0px;
    z-index: 9999;
  }
  /* line 94, ../sass/mobile.scss */
  .top-menu .work-selected-category {
    border-right: 0 !important;
    margin: 10px;
    background: #f4f4f4 url(../images/icons/down-arrow.png) no-repeat 90% center;
    background-size: 17px auto;
    border: 1px solid #777777;
    width: 90%;
    padding: 5px 30px;
    border-radius: 10px;
    text-align: left;
  }
  /* line 105, ../sass/mobile.scss */
  .top-menu .btn {
    display: none;
  }
  /* line 110, ../sass/mobile.scss */
  .top-menu.on .btn {
    display: block;
    position: absolute;
    z-index: 9999;
    background: rgba(34, 34, 34, 0.94);
    left: 0;
    right: 0;
    margin: auto;
    width: 85%;
    top: 40px;
    padding: 10px 20px;
    text-align: left;
  }
  /* line 123, ../sass/mobile.scss */
  .top-menu.on .btn li {
    border-right: 0px;
    width: 100%;
    margin-bottom: 5px;
  }
  /* line 127, ../sass/mobile.scss */
  .top-menu.on .btn li:not(:last-child) {
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
  }
  /* line 131, ../sass/mobile.scss */
  .top-menu.on .btn li a {
    color: #777;
  }

  /* line 139, ../sass/mobile.scss */
  footer.container .footer-nav {
    min-width: 0;
    width: 100%;
  }
  /* line 142, ../sass/mobile.scss */
  footer.container .footer-nav > li {
    width: 24%;
    margin-right: 0%;
  }

  /* line 148, ../sass/mobile.scss */
  .footer-sub > span {
    clear: both;
    display: block;
  }
  /* line 151, ../sass/mobile.scss */
  .footer-sub > span.right {
    float: none;
    padding: 10px 0;
  }

  /* line 157, ../sass/mobile.scss */
  .subheader .headline {
    padding: 10px 20px;
  }

  /* line 161, ../sass/mobile.scss */
  .subheader form {
    display: none;
  }

  /* line 165, ../sass/mobile.scss */
  #dFolio {
    margin: 0 !important;
  }
  /* line 167, ../sass/mobile.scss */
  #dFolio .dContainer {
    width: 33%;
  }
  /* line 170, ../sass/mobile.scss */
  #dFolio .dGallery {
    position: relative !important;
  }
  /* line 173, ../sass/mobile.scss */
  #dFolio .dGallery .dContainer:not(:nth-child(-n+6)) {
    display: none;
  }

  /* line 179, ../sass/mobile.scss */
  .featured-content .dynamite-slider {
    width: 100%;
  }
  /* line 182, ../sass/mobile.scss */
  .featured-content .dynamite-slider .button.paging {
    display: none;
  }
  /* line 186, ../sass/mobile.scss */
  .featured-content .dynamite-slider .slide:not(.project-feature) {
    display: none;
  }
  /* line 189, ../sass/mobile.scss */
  .featured-content .dynamite-slider .dynamite-slide-window {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  /* line 194, ../sass/mobile.scss */
  .featured-content .dynamite-slider .dynamite-slide-container {
    position: relative;
    left: auto !important;
    padding: 0;
  }

  /* line 202, ../sass/mobile.scss */
  .stay-connected ol {
    width: 100%;
  }
  /* line 205, ../sass/mobile.scss */
  .stay-connected li {
    width: 80%;
    margin-bottom: 10px;
  }
  /* line 209, ../sass/mobile.scss */
  .stay-connected input {
    width: 80%;
    display: inline-block;
    margin-right: 5px;
  }

  /* line 216, ../sass/mobile.scss */
  footer.container {
    padding: 2rem;
  }
  /* line 219, ../sass/mobile.scss */
  footer.container .footer-sub {
    border-top: none;
    padding-top: 0;
  }
  /* line 223, ../sass/mobile.scss */
  footer.container #socialmedia-container {
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  /* line 231, ../sass/mobile.scss */
  .sidr.right {
    background: #a09f9f;
    -webkit-box-shadow: inset 10px -1px 5px -6px #777;
    -moz-box-shadow: inset 10px -1px 5px -6px #777;
    box-shadow: inset 10px -1px 5px -6px #777;
  }
  /* line 237, ../sass/mobile.scss */
  .sidr.right ul {
    border-bottom: none;
  }
  /* line 241, ../sass/mobile.scss */
  .sidr.right .sidr-inner:last-child {
    position: absolute;
    bottom: 0;
  }
  /* line 246, ../sass/mobile.scss */
  .sidr.right .sidr-inner > .sidr-class-menu-item {
    margin-left: 5px;
    border-bottom: 1px solid #cdcdcd;
  }
  /* line 249, ../sass/mobile.scss */
  .sidr.right .sidr-inner > .sidr-class-menu-item a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
  }
  /* line 256, ../sass/mobile.scss */
  .sidr.right #sidr-id-socialmedia-container {
    margin-left: 20px;
  }
  /* line 259, ../sass/mobile.scss */
  .sidr.right .sidr-class-smc_icon_container {
    display: inline-block;
    margin-right: 10px;
    background-size: 100% auto !important;
  }
  /* line 263, ../sass/mobile.scss */
  .sidr.right .sidr-class-smc_icon_container img {
    opacity: 0;
  }
  /* line 266, ../sass/mobile.scss */
  .sidr.right .sidr-class-smc_icon_container#sidr-id-social-Facebook {
    background: url("../images/icons/mobile-facebook.png") center center no-repeat;
  }
  /* line 269, ../sass/mobile.scss */
  .sidr.right .sidr-class-smc_icon_container#sidr-id-social-InDesign {
    background: url("../images/icons/mobile-linkedin.png") center center no-repeat;
  }
  /* line 272, ../sass/mobile.scss */
  .sidr.right .sidr-class-smc_icon_container#sidr-id-social-Twitter {
    background: url("../images/icons/mobile-twitter.png") center center no-repeat;
  }
  /* line 276, ../sass/mobile.scss */
  .sidr.right .sidr-class-footer-nav {
    display: none;
  }
  /* line 279, ../sass/mobile.scss */
  .sidr.right .sidr-class-footer-sub {
    color: white;
    font-size: .7rem;
    line-height: 1rem;
    padding: 1rem;
  }
  /* line 285, ../sass/mobile.scss */
  .sidr.right .sidr-class-footer-sub .sidr-class-right {
    margin-top: 20px;
    position: relative;
    display: block;
  }
}
