/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/** Base Styles for AGD **/
/* COLORS */
/* GRAPHIC ELEMENTS */
/* Icons */
/* line 1, ../sass/_header.scss */
header {
  height: 100px;
  background: url(../images/navbg.png) repeat-x;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
/* line 6, ../sass/_header.scss */
header > .container {
  height: 100px;
}
/* line 10, ../sass/_header.scss */
header .home-logo {
  width: 40.7%;
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
  position: absolute;
}
/* line 17, ../sass/_header.scss */
header .mobile-logo {
  display: none;
}
/* line 19, ../sass/_header.scss */
header .menu-main-nav-container {
  height: 100px;
  float: right;
  display: inline-block;
  vertical-align: top;
}
/* line 24, ../sass/_header.scss */
header .menu-main-nav-container .menu {
  text-align: right;
}
/* line 26, ../sass/_header.scss */
header .menu-main-nav-container .menu li {
  display: inline-block;
  border-right: 1px solid #E70000;
  height: 36px;
  margin-top: 1px;
  margin-right: -3px;
  width: 100px;
}
/* line 33, ../sass/_header.scss */
header .menu-main-nav-container .menu li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #FFF;
  width: 100%;
  height: 97px;
  padding-top: 12px;
}
/* line 43, ../sass/_header.scss */
header .menu-main-nav-container .menu li a:hover {
  background: url(../images/nav_over.png) no-repeat;
}
/* line 47, ../sass/_header.scss */
header .menu-main-nav-container .menu li.current_page_item a {
  background: url(../images/nav_over.png) no-repeat;
}
@media only screen and (max-width: 720px) {
  /* line 1, ../sass/_header.scss */
  header {
    height: auto;
  }
  /* line 53, ../sass/_header.scss */
  header .container {
    height: 70px;
  }
  /* line 56, ../sass/_header.scss */
  header .mobile-logo {
    display: block;
  }
  /* line 57, ../sass/_header.scss */
  header .desktop-logo {
    display: none;
  }
  /* line 58, ../sass/_header.scss */
  header .home-logo {
    padding-top: 0px;
    height: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  /* line 67, ../sass/_header.scss */
  header .sidr-menu-button {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url(../images/icons/menu-icon.png) center center no-repeat;
    background-size: 100% auto;
    position: absolute;
    right: 3em;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

/** Base **/
/* line 12, ../sass/screen.scss */
body {
  background: url(../images/diagonal-stripes.png);
}

/* line 13, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 14, ../sass/screen.scss */
.right {
  float: right;
}

/** Typography **/
/* line 17, ../sass/screen.scss */
body {
  font-size: 12px;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #777777;
  line-height: 1.6em;
}

/* line 24, ../sass/screen.scss */
a {
  color: red;
  font-weight: 700;
}
/* line 27, ../sass/screen.scss */
a :hover {
  color: red;
  text-decoration: underline;
}

/* line 33, ../sass/screen.scss */
p {
  margin-bottom: 1.45em;
}

/* line 37, ../sass/screen.scss */
h1 {
  font-size: 14px;
  font-weight: 700;
  color: black;
}

/* line 43, ../sass/screen.scss */
h2 {
  font-size: 12px;
  border: none;
}

/* line 48, ../sass/screen.scss */
h3 {
  font-size: 13px;
  font-weight: 700;
  color: black;
}

/** Layout **/
/* line 55, ../sass/screen.scss */
.container {
  width: auto;
  max-width: 1000px;
  padding: 0 40px;
  margin: auto;
}

/* line 61, ../sass/screen.scss */
.section {
  margin-bottom: 20px;
}

/* 	Columns */
/* line 66, ../sass/screen.scss */
.column {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 60px 0;
}

/* line 73, ../sass/screen.scss */
.one-third {
  width: 25%;
  padding-left: 5%;
}

/* line 74, ../sass/screen.scss */
.two-third {
  width: 58%;
  padding-right: 5%;
}

/* line 75, ../sass/screen.scss */
.left-column {
  width: 16%;
  padding-right: 2%;
}

/* line 76, ../sass/screen.scss */
.wide-content {
  width: 80.9%;
}

/* line 77, ../sass/screen.scss */
.col-2 {
  width: 47%;
}
/* line 77, ../sass/screen.scss */
.col-2:nth-child(odd) {
  padding-right: 5%;
}

/* line 80, ../sass/screen.scss */
.menu li {
  list-style: none;
}
/* line 82, ../sass/screen.scss */
.menu li.current_page_item a {
  font-weight: 700;
}

/* line 88, ../sass/screen.scss */
.left-column li a {
  text-decoration: none;
  font-weight: 400;
  color: black;
}
/* line 92, ../sass/screen.scss */
.left-column li a:hover {
  color: red;
  text-decoration: underline;
}

/* line 100, ../sass/screen.scss */
.subheader {
  background: #302d2d;
  min-height: 50px;
}
/* line 105, ../sass/screen.scss */
.subheader input {
  display: inline-block;
  vertical-align: middle;
}
/* line 110, ../sass/screen.scss */
.subheader form {
  margin-bottom: 0;
  text-align: right;
  padding: 10px;
  background: #222121;
  width: auto;
  float: right;
}
/* line 117, ../sass/screen.scss */
.subheader form .cf-sb {
  margin-bottom: 0;
}
/* line 120, ../sass/screen.scss */
.subheader .searchform {
  float: right;
  padding: 10px;
  background: #222121;
}
/* line 121, ../sass/screen.scss */
.subheader .searchform label {
  display: none;
}
/* line 126, ../sass/screen.scss */
.subheader .searchform input[type="text"] {
  background: #d8d8d8;
  border: none;
  border-radius: 3px;
  padding: 3px;
  width: 300px;
  margin-right: 10px;
}
/* line 135, ../sass/screen.scss */
.subheader .searchform input[type="submit"] {
  background-color: #6ec9d0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6EC9D0', endColorstr='#FF367075');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZlYzlkMCIvPjxzdG9wIG9mZnNldD0iNDglIiBzdG9wLWNvbG9yPSIjNmVjOWQwIi8+PHN0b3Agb2Zmc2V0PSI1OSUiIHN0b3AtY29sb3I9IiM0ZDlmYTUiLz48c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzM2NzA3NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM2NzA3NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6ec9d0), color-stop(48%, #6ec9d0), color-stop(59%, #4d9fa5), color-stop(95%, #367075), color-stop(100%, #367075));
  background-image: -moz-linear-gradient(top, #6ec9d0 0%, #6ec9d0 48%, #4d9fa5 59%, #367075 95%, #367075 100%);
  background-image: -webkit-linear-gradient(top, #6ec9d0 0%, #6ec9d0 48%, #4d9fa5 59%, #367075 95%, #367075 100%);
  background-image: linear-gradient(to bottom, #6ec9d0 0%, #6ec9d0 48%, #4d9fa5 59%, #367075 95%, #367075 100%);
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 160px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  -webkit-box-shadow: inset 0 0 4px #fff;
  -moz-box-shadow: inset 0 0 4px #fff;
  box-shadow: inset 0 0 4px #fff;
}
/* line 141, ../sass/screen.scss */
.subheader .page-title {
  font-size: 20px;
  padding: 20px 0;
  font-weight: 400;
}
/* line 147, ../sass/screen.scss */
.subheader .headline {
  clear: both;
  padding: 20px 0 40px;
  font-size: 20px;
  line-height: 1.45;
}

/* line 155, ../sass/screen.scss */
.featured-content {
  display: block;
  position: relative;
  width: 100%;
  background: #302d2d;
  padding: 0 0 40px;
}
/* line 162, ../sass/screen.scss */
.featured-content #dFolio .dGallery {
  position: absolute;
}
/* line 166, ../sass/screen.scss */
.featured-content .dynamite-slide-container {
  position: relative;
  width: 100%;
  white-space: nowrap;
  margin: auto;
}
/* line 173, ../sass/screen.scss */
.featured-content .dynamite-slide-window {
  width: 90%;
  max-width: 1000px;
  padding: 0 5%;
  overflow: hidden;
  background: #302d2d;
}
/* line 181, ../sass/screen.scss */
.featured-content .paging {
  width: 5.1%;
  height: 100%;
  padding: 0;
  display: block;
  position: absolute;
  border: none;
  z-index: 5;
  opacity: 0;
  top: 0;
  background: none;
  -moz-transition: opacity .5s, -moz-transform .5s;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  -o-transition: opacity .5s, -o-transform .5s;
  transition: opacity .5s, transform .5s;
}
/* line 196, ../sass/screen.scss */
.featured-content .paging.prev {
  left: 0;
  background-image: url(../images/icons/Left-Arrow.png);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 203, ../sass/screen.scss */
.featured-content .paging.next {
  right: 0;
  background-image: url(../images/icons/Right-Arrow.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 211, ../sass/screen.scss */
.featured-content:hover .paging {
  opacity: 1;
}
/* line 213, ../sass/screen.scss */
.featured-content .dynamite-slider {
  display: block;
  width: 90%;
  top: 0;
  left: 0;
  max-width: 1080px;
  height: 400px;
  background: white;
  margin: auto;
  overflow: hidden;
}
/* line 225, ../sass/screen.scss */
.featured-content .dynamite-slider .dynamite-slide {
  display: inline-block;
  vertical-align: top;
  position: relative;
  max-width: 1000px;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
/* line 235, ../sass/screen.scss */
.featured-content .dynamite-slider .dynamite-slide > img {
  max-width: 1000px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* line 246, ../sass/screen.scss */
.featured-content .dynamite-slider #dFolio {
  position: relative;
  margin: 0;
  width: 100%;
  height: 400px;
}

/* Stay Connected Form */
/* line 258, ../sass/screen.scss */
.cform label {
  display: none;
}

/* line 259, ../sass/screen.scss */
.stay-connected .reqtxt {
  display: none;
}

/* line 262, ../sass/screen.scss */
.stay-connected {
  margin-bottom: 40px;
}
/* line 263, ../sass/screen.scss */
.stay-connected .cf-ol, .stay-connected .cf-sb {
  display: inline-block;
}
/* line 264, ../sass/screen.scss */
.stay-connected .cf_hidden {
  display: none;
}
/* line 265, ../sass/screen.scss */
.stay-connected .reqtxt {
  display: none;
}
/* line 270, ../sass/screen.scss */
.stay-connected li {
  display: inline-block;
  margin-right: 10px;
}
/* line 274, ../sass/screen.scss */
.stay-connected input {
  border-radius: 5px;
  border: 1px solid #777777;
  background: #f4f4f4;
  color: #777777;
}
/* line 280, ../sass/screen.scss */
.stay-connected input[type="text"] {
  padding: 3px 5px;
  width: 170px;
}
/* line 284, ../sass/screen.scss */
.stay-connected input[type="submit"] {
  background-color: #6ec9d0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6EC9D0', endColorstr='#FF367075');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZlYzlkMCIvPjxzdG9wIG9mZnNldD0iNDglIiBzdG9wLWNvbG9yPSIjNmVjOWQwIi8+PHN0b3Agb2Zmc2V0PSI1OSUiIHN0b3AtY29sb3I9IiM0ZDlmYTUiLz48c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzM2NzA3NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM2NzA3NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6ec9d0), color-stop(48%, #6ec9d0), color-stop(59%, #4d9fa5), color-stop(95%, #367075), color-stop(100%, #367075));
  background-image: -moz-linear-gradient(top, #6ec9d0 0%, #6ec9d0 48%, #4d9fa5 59%, #367075 95%, #367075 100%);
  background-image: -webkit-linear-gradient(top, #6ec9d0 0%, #6ec9d0 48%, #4d9fa5 59%, #367075 95%, #367075 100%);
  background-image: linear-gradient(to bottom, #6ec9d0 0%, #6ec9d0 48%, #4d9fa5 59%, #367075 95%, #367075 100%);
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 160px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  -webkit-box-shadow: inset 0 0 4px #fff;
  -moz-box-shadow: inset 0 0 4px #fff;
  box-shadow: inset 0 0 4px #fff;
}

/* line 289, ../sass/screen.scss */
.top-menu {
  padding: 20px 0 0;
}
/* line 291, ../sass/screen.scss */
.top-menu li {
  display: inline-block;
  vertical-align: bottom;
  padding-right: 10px;
  font-weight: 700;
}
/* line 296, ../sass/screen.scss */
.top-menu li:not(:last-child) {
  border-right: 2px solid #bbb;
  margin-right: 10px;
}
/* line 297, ../sass/screen.scss */
.top-menu li.active {
  color: red;
}
/* line 299, ../sass/screen.scss */
.top-menu li.active a {
  color: red;
}
/* line 301, ../sass/screen.scss */
.top-menu li.all-work {
  font-weight: 700;
}
/* line 304, ../sass/screen.scss */
.top-menu li:not(.active) {
  cursor: pointer;
}
/* line 305, ../sass/screen.scss */
.top-menu li a {
  color: black;
  text-decoration: none;
}
/* line 308, ../sass/screen.scss */
.top-menu li a:hover {
  color: red;
}

/* line 313, ../sass/screen.scss */
.main-content {
  /* 	Columns */
  /* Home Page */
  /* News Section */
}
/* line 314, ../sass/screen.scss */
.main-content h1, .main-content h2 {
  margin-bottom: 10px;
}
/* line 315, ../sass/screen.scss */
.main-content h2 {
  font-size: 12px;
  font-weight: 700;
  color: black;
  border-bottom: 3px solid #f4f4f4;
  padding-bottom: 10px;
}
/* line 322, ../sass/screen.scss */
.main-content h3 {
  padding-bottom: 10px;
  border-bottom: 3px solid #f4f4f4;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 328, ../sass/screen.scss */
.main-content li {
  list-style: disc inside;
}
/* line 331, ../sass/screen.scss */
.main-content .menu li {
  list-style: none;
}
/* line 333, ../sass/screen.scss */
.main-content img {
  max-width: 100%;
  height: auto;
}
/* line 335, ../sass/screen.scss */
.main-content .container {
  background: white;
  padding-bottom: 20px;
}
/* line 341, ../sass/screen.scss */
.main-content .one-third {
  width: 35.9%;
  padding: 60px 3% 0 0;
}
/* line 342, ../sass/screen.scss */
.main-content .two-third {
  width: 56%;
  padding: 60px 0 0 4%;
}
/* line 345, ../sass/screen.scss */
.main-content .testimonial {
  border-top: 3px solid #f4f4f4;
  padding: 20px 0;
}
/* line 349, ../sass/screen.scss */
.main-content .testimonial > img, .main-content .testimonial > div {
  display: inline-block;
  vertical-align: top;
}
/* line 354, ../sass/screen.scss */
.main-content .testimonial .client-quote {
  width: 75%;
  margin-left: 20px;
}
/* line 358, ../sass/screen.scss */
.main-content .testimonial .client-quote > p {
  font-style: italic;
  font-size: 14px;
  line-height: 1.45em;
}
/* line 364, ../sass/screen.scss */
.main-content .testimonial .client-quote .client-info {
  margin-top: 10px;
}
/* line 366, ../sass/screen.scss */
.main-content .testimonial .client-quote .client-info .client-name {
  font-weight: 700;
  clear: both;
  display: block;
}
/* line 376, ../sass/screen.scss */
.main-content .read-more {
  position: relative;
  display: block;
  margin-top: 5px;
  text-transform: uppercase;
}
/* line 385, ../sass/screen.scss */
.main-content .news.section .post {
  display: inline-block;
  vertical-align: top;
  width: 47.5%;
  height: 170%;
  margin-bottom: 40px;
}
/* line 391, ../sass/screen.scss */
.main-content .news.section .post:nth-of-type(odd) {
  margin-right: 4%;
}
/* line 394, ../sass/screen.scss */
.main-content .news.section .post > a {
  color: #777777;
  font-weight: normal;
  text-decoration: none;
}
/* line 399, ../sass/screen.scss */
.main-content .news.section .post .thumbnail {
  position: relative;
  display: block;
  height: 80px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* Team */
/* line 413, ../sass/screen.scss */
.page-template-team-template-php #dFolio .dMember {
  width: 25%;
}

/* line 419, ../sass/screen.scss */
.lower-content {
  width: 100%;
  position: relative;
}
/* line 423, ../sass/screen.scss */
.lower-content .column {
  padding-top: 40px;
}
/* line 424, ../sass/screen.scss */
.lower-content h2 {
  border: none;
  padding-bottom: 0;
}

/* line 427, ../sass/screen.scss */
.dBio {
  position: relative;
  overflow: hidden;
}
/* line 432, ../sass/screen.scss */
.dBio.team .one-third {
  padding-left: 40px;
  padding-right: 0px;
}
/* line 436, ../sass/screen.scss */
.dBio.team .two-third {
  padding: 60px 0 0 0;
  width: 54%;
}
/* line 441, ../sass/screen.scss */
.dBio h1, .dBio h2 {
  margin-bottom: 5px;
}
/* line 442, ../sass/screen.scss */
.dBio h2 {
  border: none;
  padding-bottom: 0;
  font-weight: normal;
}
/* line 443, ../sass/screen.scss */
.dBio .close {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  background: url(../images/icons/close-button.png) 50% 50% no-repeat;
  z-index: 10;
}
/* line 453, ../sass/screen.scss */
.dBio .member-social {
  position: relative;
  margin: 5px 0 40px;
}
/* line 457, ../sass/screen.scss */
.dBio .member-social li {
  display: inline-block;
  background-position: 0% 50%;
}
/* line 460, ../sass/screen.scss */
.dBio .member-social li.member-facebook {
  background: url(../images/icons/Facebook.png) no-repeat;
  background-size: 20px auto;
}
/* line 464, ../sass/screen.scss */
.dBio .member-social li.member-twitter {
  background: url(../images/icons/Twitter.png) 0% 50% no-repeat;
  background-size: 20px auto;
}
/* line 468, ../sass/screen.scss */
.dBio .member-social li.member-linkedin {
  background: url(../images/icons/LinkedIn.png) 0% 50% no-repeat;
  background-size: 20px auto;
}
/* line 473, ../sass/screen.scss */
.dBio .member-social li a {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
/* line 482, ../sass/screen.scss */
.dBio .member-expertise li {
  list-style: none;
  margin-bottom: 3px;
}
/* line 483, ../sass/screen.scss */
.dBio .member-expertise h2 {
  font-weight: 700;
}

/* Project Profiles */
/* line 490, ../sass/screen.scss */
.page-template-portfolio-php .sticky {
  position: fixed;
  font-size: 16px;
  z-index: 1000;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background: white;
  padding: 15px 0;
}
/* line 501, ../sass/screen.scss */
.page-template-portfolio-php #dFolio {
  width: auto;
  height: auto;
  margin: 20px 0;
}
/* line 507, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dMember .dCard .back .dMember-info {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px 6%;
}
/* line 516, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio {
  max-height: 0;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
/* line 523, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio.open {
  max-height: 500px;
}
/* line 527, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio img {
  width: 100%;
  max-width: 2000px;
}
/* line 531, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio.projects {
  height: auto;
}
/* line 534, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio .feature-wide, .page-template-portfolio-php #dFolio .dBio .feature-side {
  display: inline-block;
  vertical-align: top;
}
/* line 538, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio .feature-wide {
  width: 70%;
  overflow: hidden;
  border-right: 5px solid #bbb;
}
/* line 543, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio .feature-side {
  width: 25%;
  padding: 20px 10px;
  height: 100%;
}
/* line 548, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio .feature-side h2 {
  margin-bottom: 5px;
}
/* line 549, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio .feature-side h1 {
  margin-bottom: 5px;
}
/* line 551, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio .feature-side li {
  list-style: none;
  margin-bottom: 2px;
}
/* line 554, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio .feature-side .feature-pager {
  height: 10px;
  margin-bottom: 30px;
}
/* line 557, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio .feature-side .feature-pager span {
  font-size: 40px;
  color: white;
  margin-right: 5px;
  cursor: pointer;
}
/* line 562, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio .feature-side .feature-pager span.cycle-pager-active {
  color: #bbb;
}
/* line 568, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio .feature-side .project-profile {
  margin-top: 10px;
}
/* line 569, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio .feature-side .project-type {
  font-weight: 400;
}
/* line 570, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio .feature-side .project-services {
  margin-top: 20px;
}
/* line 572, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio .feature-side .project-services h2 {
  font-weight: 400;
  color: black;
  margin-bottom: 2px;
}
/* line 579, ../sass/screen.scss */
.page-template-portfolio-php #dFolio .dBio .close {
  right: 20px;
  left: auto;
}

/* Testimonials */
/* line 594, ../sass/screen.scss */
.main-content.testimonials img {
  float: left;
  margin-right: 10px;
}
/* line 595, ../sass/screen.scss */
.main-content.testimonials p {
  margin-bottom: 5px;
}
/* line 598, ../sass/screen.scss */
.main-content.testimonials h2 {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Blogroll */
/* line 607, ../sass/screen.scss */
.page-template-blogroll-php .blog, .category .blog {
  position: relative;
  width: 100%;
  white-space: nowrap;
}
/* line 612, ../sass/screen.scss */
.page-template-blogroll-php .blog .post, .category .blog .post {
  display: inline-block;
  width: 200px;
  position: relative;
  margin: 0 35px 0 0;
  white-space: normal;
  vertical-align: top;
}
/* line 619, ../sass/screen.scss */
.page-template-blogroll-php .blog .post .post-date, .category .blog .post .post-date {
  border: none;
  margin: 0;
  padding: 0;
  color: #bbb;
  font-size: 12px;
  font-weight: normal;
}
/* line 627, ../sass/screen.scss */
.page-template-blogroll-php .blog .post .post-title, .category .blog .post .post-title {
  margin-bottom: 10px;
  height: 7em;
}
/* line 630, ../sass/screen.scss */
.page-template-blogroll-php .blog .post .post-title a, .category .blog .post .post-title a {
  color: black;
  text-decoration: none;
}
/* line 632, ../sass/screen.scss */
.page-template-blogroll-php .blog .post img, .category .blog .post img {
  border: 2px solid #bbb;
}
/* line 636, ../sass/screen.scss */
.page-template-blogroll-php ul.categories, .category ul.categories {
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  color: black;
  font-size: 12px;
  font-weight: normal;
  color: black;
  margin-top: 10px;
}
/* line 645, ../sass/screen.scss */
.page-template-blogroll-php ul.categories li, .category ul.categories li {
  margin-bottom: 0px;
  list-style: none;
}

/* Blog Post */
/* line 656, ../sass/screen.scss */
.single .main-content time {
  position: relative;
  font-size: 10px;
  margin-bottom: 1.3em;
}
/* line 658, ../sass/screen.scss */
.single .main-content article h1 {
  font-size: 20px;
  margin-bottom: 1em;
}
/* line 662, ../sass/screen.scss */
.single .main-content article > img {
  margin-bottom: 10px;
}
/* line 668, ../sass/screen.scss */
.single .categories {
  font-weight: 700;
  list-style: none;
  color: black;
  margin-top: 3px;
  padding-top: 3px;
}
/* line 674, ../sass/screen.scss */
.single .categories li {
  list-style: none;
}
/* line 677, ../sass/screen.scss */
.single .categories .go-back-button {
  margin-top: 1em;
}
/* line 679, ../sass/screen.scss */
.single .categories .go-back-button a {
  color: red;
}

/* line 686, ../sass/screen.scss */
.main-content footer.container, footer.container {
  background: white;
  font-size: 11px;
  padding-bottom: 40px;
}
/* line 690, ../sass/screen.scss */
.main-content footer.container .footer-nav, footer.container .footer-nav {
  width: 84%;
  min-width: 400px;
  display: inline-block;
  vertical-align: top;
}
/* line 695, ../sass/screen.scss */
.main-content footer.container .footer-nav > li, footer.container .footer-nav > li {
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin-bottom: 0px;
  margin-right: 20px;
}
/* line 701, ../sass/screen.scss */
.main-content footer.container .footer-nav > li a, footer.container .footer-nav > li a {
  color: #777777;
  text-decoration: none;
  font-weight: 400;
}
/* line 705, ../sass/screen.scss */
.main-content footer.container .footer-nav > li a:hover, footer.container .footer-nav > li a:hover {
  color: red;
  text-decoration: underline;
}
/* line 713, ../sass/screen.scss */
.main-content footer.container .footer-social-links, footer.container .footer-social-links {
  display: inline-block;
  vertical-align: bottom;
  text-align: left;
  width: 15%;
  min-width: 125px;
}
/* line 720, ../sass/screen.scss */
.main-content footer.container .footer-social-links #socialmedia-container DIV.smc_icon_container, footer.container .footer-social-links #socialmedia-container DIV.smc_icon_container {
  margin: 0 !important;
}
/* line 722, ../sass/screen.scss */
.main-content footer.container .footer-social-links #socialmedia-container DIV.smc_icon_container:not(:last-child), footer.container .footer-social-links #socialmedia-container DIV.smc_icon_container:not(:last-child) {
  margin-right: 5px !important;
}
/* line 723, ../sass/screen.scss */
.main-content footer.container .footer-social-links #socialmedia-container DIV.smc_icon_container a, footer.container .footer-social-links #socialmedia-container DIV.smc_icon_container a {
  height: 30px !important;
}
/* line 727, ../sass/screen.scss */
.main-content footer.container .footer-sub, footer.container .footer-sub {
  padding-top: 20px;
  border-top: 4px solid #f4f4f4;
  margin-top: 10px;
}

/* Connect */
/* line 736, ../sass/screen.scss */
.page-template-contact-template-php .column {
  margin: 70px 0;
  padding: 0 2% 0 0;
}
/* line 739, ../sass/screen.scss */
.page-template-contact-template-php .column.one-half {
  width: 47.5%;
}
/* line 745, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .column {
  margin-top: 0;
}
/* line 751, ../sass/screen.scss */
.page-template-contact-template-php ul li {
  list-style: none;
}
/* line 755, ../sass/screen.scss */
.page-template-contact-template-php h2 {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 760, ../sass/screen.scss */
.page-template-contact-template-php .map {
  text-align: right;
}
/* line 761, ../sass/screen.scss */
.page-template-contact-template-php .business-contact {
  margin-bottom: 20px;
}
/* line 763, ../sass/screen.scss */
.page-template-contact-template-php .business-contact strong {
  color: black;
  margin-right: 30px;
}
/* line 769, ../sass/screen.scss */
.page-template-contact-template-php .social #socialmedia-container {
  padding: 0;
}
/* line 771, ../sass/screen.scss */
.page-template-contact-template-php .social #socialmedia-container div.smc_icon_container {
  margin: 0 10px 0 0 !important;
}
/* line 779, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .column > p {
  min-height: 80px;
  padding-bottom: 20px;
}
/* line 785, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with, .page-template-contact-template-php .lower-content .collaborate-with {
  background: #f4f4f4;
  padding: 2%;
  width: 44.3%;
}
/* line 790, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .open-close, .page-template-contact-template-php .lower-content .collaborate-with .open-close {
  display: block;
  position: relative;
  clear: both;
  width: auto;
  text-align: right;
}
/* line 796, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .open-close .arrow-button, .page-template-contact-template-php .lower-content .collaborate-with .open-close .arrow-button {
  width: 20px;
  height: 20px;
  background: url(../images/icons/right-arrow-disc.png) no-repeat;
  display: inline-block;
}
/* line 804, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with.open .cform, .page-template-contact-template-php .lower-content .collaborate-with.open .cform {
  margin-top: 20px;
  max-height: 1000px;
}
/* line 808, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with.open .arrow-button, .page-template-contact-template-php .lower-content .collaborate-with.open .arrow-button {
  background: url(../images/icons/down-arrow-disc.png) no-repeat;
}
/* line 811, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform, .page-template-contact-template-php .lower-content .collaborate-with .cform {
  display: inline-block;
  margin-top: 20px;
  max-height: 0px;
  width: 100%;
  overflow: hidden;
  -webkit-transition: max-height .5s;
  transition: max-height .5s;
}
/* line 820, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform label, .page-template-contact-template-php .lower-content .collaborate-with .cform label {
  font-weight: bold;
  display: inline-block;
}
/* line 823, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform label span, .page-template-contact-template-php .lower-content .collaborate-with .cform label span {
  padding: 10px 0;
  display: inline-block;
}
/* line 828, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform .cf-box-title, .page-template-contact-template-php .lower-content .collaborate-with .cform .cf-box-title {
  height: auto;
  min-height: 0;
  margin-top: 10px;
  font-weight: bold;
}
/* line 834, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform .cf-box-group, .page-template-contact-template-php .lower-content .collaborate-with .cform .cf-box-group {
  margin-bottom: 20px;
}
/* line 836, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform .cf-box-group label, .page-template-contact-template-php .lower-content .collaborate-with .cform .cf-box-group label {
  font-weight: normal;
  margin-left: 5px;
  width: 107px;
  display: inline-block;
  height: 30px;
}
/* line 843, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform .cf-box-group input[type='radio'], .page-template-contact-template-php .lower-content .collaborate-with .cform .cf-box-group input[type='radio'] {
  margin-left: 10px;
}
/* line 849, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform .cformselect, .page-template-contact-template-php .lower-content .collaborate-with .cform .cformselect {
  float: right;
  background: white;
  width: 150px;
  padding: 5px;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
}
/* line 863, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform .cfselectmulti, .page-template-contact-template-php .lower-content .collaborate-with .cform .cfselectmulti {
  border: none;
  padding: 10px;
}
/* line 868, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform li, .page-template-contact-template-php .lower-content .collaborate-with .cform li {
  min-height: 45px;
  padding-left: 5%;
}
/* line 872, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform li#li-2-8, .page-template-contact-template-php .lower-content .collaborate-with .cform li#li-2-8 {
  width: 21.5%;
  display: inline-block;
  font-weight: bold;
}
/* line 876, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform li#li-2-8:before, .page-template-contact-template-php .lower-content .collaborate-with .cform li#li-2-8:before {
  position: absolute;
  left: 0px;
  content: "*";
}
/* line 882, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform li#li-2-9, .page-template-contact-template-php .lower-content .work-with .cform li#li-2-10, .page-template-contact-template-php .lower-content .collaborate-with .cform li#li-2-9, .page-template-contact-template-php .lower-content .collaborate-with .cform li#li-2-10 {
  display: inline-block;
  width: 36%;
  padding-left: 0px;
}
/* line 889, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform input[type="text"], .page-template-contact-template-php .lower-content .work-with .cform textarea, .page-template-contact-template-php .lower-content .collaborate-with .cform input[type="text"], .page-template-contact-template-php .lower-content .collaborate-with .cform textarea {
  border: none;
  padding: 2%;
  width: 96%;
  margin-bottom: 2%;
}
/* line 895, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform .cformselect, .page-template-contact-template-php .lower-content .collaborate-with .cform .cformselect {
  background: white url(../images/icons/down-arrow-light-disc.png) no-repeat 95% 50%;
}
/* line 899, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform .cf-sb, .page-template-contact-template-php .lower-content .collaborate-with .cform .cf-sb {
  text-align: right;
}
/* line 901, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform .cf-sb input[type="submit"], .page-template-contact-template-php .lower-content .collaborate-with .cform .cf-sb input[type="submit"] {
  background-color: #6ec9d0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6EC9D0', endColorstr='#FF367075');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZlYzlkMCIvPjxzdG9wIG9mZnNldD0iNDglIiBzdG9wLWNvbG9yPSIjNmVjOWQwIi8+PHN0b3Agb2Zmc2V0PSI1OSUiIHN0b3AtY29sb3I9IiM0ZDlmYTUiLz48c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzM2NzA3NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM2NzA3NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6ec9d0), color-stop(48%, #6ec9d0), color-stop(59%, #4d9fa5), color-stop(95%, #367075), color-stop(100%, #367075));
  background-image: -moz-linear-gradient(top, #6ec9d0 0%, #6ec9d0 48%, #4d9fa5 59%, #367075 95%, #367075 100%);
  background-image: -webkit-linear-gradient(top, #6ec9d0 0%, #6ec9d0 48%, #4d9fa5 59%, #367075 95%, #367075 100%);
  background-image: linear-gradient(to bottom, #6ec9d0 0%, #6ec9d0 48%, #4d9fa5 59%, #367075 95%, #367075 100%);
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 160px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  -webkit-box-shadow: inset 0 0 4px #fff;
  -moz-box-shadow: inset 0 0 4px #fff;
  box-shadow: inset 0 0 4px #fff;
  padding: 10px 0;
}
/* line 906, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with .cform .reqtxt, .page-template-contact-template-php .lower-content .work-with .cform .emailreqtxt, .page-template-contact-template-php .lower-content .collaborate-with .cform .reqtxt, .page-template-contact-template-php .lower-content .collaborate-with .cform .emailreqtxt {
  position: absolute;
  left: 0;
  top: 9px;
  font-size: 14px;
}
/* line 914, ../sass/screen.scss */
.page-template-contact-template-php .lower-content .work-with {
  margin-right: 3%;
}

/* misc styles */
/* line 923, ../sass/screen.scss */
.linklove {
  display: none;
}
