.project{
	.profile {
		position: relative;
	}
	&.box{
		.box-content{
			opacity: 1;
			transition: .5s opacity ease-in-out .5s;
		}
		.profile{ 
			width: 100%;
			height: 0;
			transition: 0s height ease-in-out;
			overflow: hidden;
		}
		&.open {
			height: 1000px;
			width: 100%;
			background: $lightGray;

			img {
				width: 100%;
				max-width: 2000px; 
				max-height:500px;
				height: auto;
			}

			.box-content{
				opacity:0;
				display: none;
				height: 100%;
			}
			.close { 
				display: block;
				position: absolute;
				top: 20px;
				right: 20px;
				width: 40px;
				height: 40px;
				background: $close-button 50% 50% no-repeat;
				z-index: 10;
			}
			.profile{ 
				display: block; 
				background: #eee;
				height: auto;
				padding-bottom: 80px;
				transition-duration: .5s;
				.feature-side{
					width: 100%;
					padding: 20px 40px 40px;
					height: auto;

					h2 { margin-bottom: 5px; }
					h1 { margin-bottom: 5px; }

					li { list-style: none; margin-bottom: 2px; }
					p{ color: $text; }


					.feature-pager {
						height: 10px;
						margin-bottom: 30px;
						span {
						    font-size: 40px;
						    color: white;
						    margin-right: 5px;
						    cursor: pointer;
						    &.cycle-pager-active {
							    color: #bbb;
							}
						}
					}

					.project-profile { margin-top: 10px; }
					.project-type { font-weight: 400; }
					.project-services {
						margin-top: 20px;
						h2 {
							font-weight: 400;
							color: black; 
							margin-bottom: 2px;
						}
					} 
				}
				@media screen and ( min-width: 780px ){
					.feature-wide, .feature-side{ 
						display: inline-block; 
						vertical-align: top;
					}
					.feature-wide{
						width: 70%; 
						overflow: hidden;
						border-right: 5px solid #bbb; 
					}
					.feature-side{
						width: 25%;
						padding: 20px 10px;
						height: 100%;

						h2 { margin-bottom: 5px; }
						h1 { margin-bottom: 5px; }

						li { list-style: none; margin-bottom: 2px; }


						.feature-pager {
							height: 10px;
							margin-bottom: 30px;
							span {
							    font-size: 40px;
							    color: white;
							    margin-right: 5px;
							    cursor: pointer;
							    &.cycle-pager-active {
								    color: #bbb;
								}
							}
						}

						.project-profile { margin-top: 10px; }
						.project-type { font-weight: 400; }
						.project-services {
							margin-top: 20px;
							h2 {
								font-weight: 400;
								color: black; 
								margin-bottom: 2px;
							}
						}
					}
				}
			}		
		}
	}
	.project-pager{
		width: 90%;
		margin: auto;
		left: 0;
		right: 0;
		white-space: nowrap;
		position: absolute;
		bottom: 30px;
		li{
			display: inline-block;
			width: 50%;
			cursor: pointer;
			&:before{
				font-family: "FontAwesome";
				font-size: 16px;
			}
			&:hover{
				&:before{
					color: $red;
				}
				
			}
			&.next{
				text-align: right;
				&:before{
					content: "\f061";
				}
			}
			&.prev{
				&:before{
					content: "\f060";
				}
			}

		}
	}
}