
/* COLORS */
$primary 			: #ff0202; //Dark Red
$secondary			: #E70000; //Mid Red
$tertiary 			: #7a0707; //Light Red
$text				: #777777;
$backgroundprimary 	: #222121;
$darkGray			: #302d2d;
$lightGray			: #f4f4f4;

$red 			: red;
$darkRed 		: #ff0202;
$midRed 		: #E70000;
$lightRed 		: #7a0707;
$textGray		: #777777;
$backgroundGray : #222121;
$darkGray		: #302d2d;
$lightGray		: #f4f4f4;