/* GRAPHIC ELEMENTS */

$header-gradient 	: url(style/images/navbg.png) repeat-x;
$header-hover 		: url(style/images/nav_over.png) no-repeat;

/* Icons */

$left-arrow-slider	: url(style/images/icons/Left-Arrow.png);
$right-arrow-slider	: url(style/images/icons/Right-Arrow.png);
$close-button		: url(style/images/icons/close-button.png);
$facebook			: url(style/images/icons/Facebook.png);
$linkedin			: url(style/images/icons/LinkedIn.png);
$twitter			: url(style/images/icons/Twitter.png);
$pager-circle		: url(style/images/icons/paging-sprite.png);
$mobile-menu		: url(style/images/icons/menu-icon.png);

@mixin header-gradient {
	background : $header-gradient;
}

@mixin button-gradient {
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #6ec9d0; // Old browsers
	@include filter-gradient(#6ec9d0, #367075, vertical); // IE6-8
	// IE9 SVG, needs conditional override of 'filter' to 'none'
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, #6ec9d0 0%,#6ec9d0 48%,#4d9fa5 59%,#367075 95%,#367075 100%));
}

@mixin blue-button {
	@include button-gradient;
	border-radius: 5px; 
	border: none;
	padding: 5px;
	width: 160px;
	font-size: 12px;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	-webkit-box-shadow: inset 0 0 4px #fff;
    -moz-box-shadow: inset 0 0 4px #fff;
    box-shadow: inset 0 0 4px #fff;
}